@model MagicVilla_Web.Models.Dto.DestinationCreateDTO

<form asp-action="CreateDestination" asp-controller="Destination" method="post">
    <div class="container border p-3">
        <h1 class="text-primary">Create Destination</h1>
        <hr />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-2">
                <label asp-for="Name" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

       
        <div class="row">
            <div class="col-2">
                <label asp-for="ImageUrl" class="control-label pt-2" style="font-size: 20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>

        
        <div class="row">
            <div class="col-5 offset-2">
                <a asp-action="IndexDestination" asp-controller="Destination" class="btn btn-primary form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Create" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
